body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
img {
  width : 50vh;
  height : auto;
}
.main {
  flex: 1;
}

h1 {
  font-size: 3rem;
  border : 10px;
}

footer {
  text-align: right;
  color: midnightblue;
}

.blue-creative{
  color : midnightblue
}

@media (min-width :576px){
  #card{
    width: 100%;
    display: flex;
    gap : 1rem;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
} 
